.section {
  border: 1px solid #333;
  max-width: 800px;
  margin: auto;
  padding: 1rem;

  & > h2 {
    margin-bottom: 1rem;
  }

  & > ul > li {
    margin-bottom: 1rem;
    list-style: none;
  }
}
